body {
  font-family: 'Karla', -apple-system-font, '.SFNSDisplay-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
}

h1 {
  margin-bottom: .1em;
  text-align: center;
}

h4:first-of-type {
  margin-bottom: .5em;
}

h2:first-of-type {
  margin-top: 0;
}

h2 {
  margin-bottom: 1em;
  font-size: 1.25em;
  font-weight: 400;
  text-align: center;
}

.selector {
  position: relative;
  height: 2em;
  font-size: 1.25em;
  text-align: center;
  margin-bottom: .25em;
}

.selector-sex,
.selector-age {
  padding: .1em .25em;
  background-color: rgb(254,240,217);
  border: 2px solid rgb(253,204,138);
  border-radius: .25em;
}

.selector-sex,
.selector-age-item {
  background-image: none;
}

.selector-sex:hover,
.selector-age--closed:hover > .selector-age-item--active,
.selector-age--closed:hover > .selector-age-arrow {
  color: rgb(227,74,51);
  cursor: pointer;
}

.selector-age {
  display: inline-block;
}

.selector-age-item {
  display: none;
  text-align: left;
  transition: color 0.15s ease-in, background-color 0.15s ease-in;
}

.selector-age-item--active {
  display: inline;
}

.selector-age--open {
  position: absolute;
  padding: 0;
}

.selector-age--open > .selector-age-item {
  display: block;
  padding: .1em .25em;
  padding-right: .95em;
}

.selector-age--open > .selector-age-item:hover {
  color: rgb(227,74,51);
  background-color: rgb(253,204,138);
  cursor: pointer;
}

.selector-age--open + span {
  display: inline-block;
  margin-top: 4px;

  margin-left: 4.075em;
}

.selector-age-arrow {
  position: relative;
  top: -.125em;
  font-size: .75em;
  color: rgb(252,141,89);
  transition: color 0.15s ease-in;
}

.selector-age--open > .selector-age-arrow {
  display: none;
}

.summary {
  margin-top: .5em;
  margin-bottom: .5em;
  font-size: 1.25em;
  text-align: center;
}

.summary-pct {
  font-weight: 700;
}

h4 {
  margin-top: 0;
  margin-bottom: 1.5em;
  font-weight: 400;
  text-align: center;
}

a {
  color: rgb(252,141,89);
  text-decoration: none;
  background-image: linear-gradient(to bottom, rgba(0,0,0,0) 90%, rgba(119,123,145,0.6) 95%);
  transition: color 0.15s ease-in;
}

a:hover,
a:focus {
  color: rgb(0,0,0);
}

svg {
  display: block;
  margin: auto;
}

.counties {
  fill: none;
}

.county {
  stroke: rgb(255,255,255);
  stroke-width: .25;
}

.county-outline {
  fill: none;
  stroke: rgb(0,0,0);
  stroke-width: 1;
}

.states {
  fill: none;
  stroke: rgb(255,255,255);
  stroke-linejoin: round;
  pointer-events: none;
}

.key-title,
.key-label {
  font: .75em 'Karla', -apple-system-font, '.SFNSDisplay-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  fill: rgb(136,136,136);
}

.key-lower,
.key-upper {
  font: .5em 'Karla', -apple-system-font, '.SFNSDisplay-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  text-transform: uppercase;
  fill: rgb(204,204,204);
}

.q0-5 {
  fill: rgb(254,240,217);
}

.q1-5 {
  fill: rgb(253,204,138);
}

.q2-5 {
  fill: rgb(252,141,89);
}

.q3-5 {
  fill: rgb(227,74,51);
}

.q4-5 {
  fill: rgb(179,0,0);
}

.snap-title,
.snap-label {
  font: .75em 'Karla', -apple-system-font, '.SFNSDisplay-Regular', 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
  fill: rgb(0,0,0);
}

.snap-label {
  font-weight: 700;
}

.tooltip {
  position: absolute;
  width: 120px;
  padding: 10px;
  text-align: left;
  background-color: rgb(255,255,255);
  border: 1px solid rgb(204,204,204);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease-in 0.15s;
}

.tooltip--visible {
  display: block;
}

.tooltip > h6 > span {
  font-weight: 700;
}

h6 {
  margin: 0;
  font-weight: 400;
}

p {
  width: 640px;
  margin: 0 auto 1.25em;
  font-size: 1em;
  line-height: 1.75em;
}

.promo {
  width: 960px;
  margin: auto;
}

.promo > img {
  width: 480px;
  float: left;
}

.promo > h2 {
  margin-top: 90px;
  width: 480px;
  float: right;
}