h1, h4 {
  font-family: "Karla";
  text-align: center;
}

h1 {
  margin-bottom: 0;
}

h4 {
  margin-top: 5px;
}

h4 a {
  color: steelblue;
}

h4 a:hover {
  text-decoration: none;
}

.axis path, .axis line, .grid line {
  fill: none;
  stroke: #aaa;
}

.axis text {
  fill: #aaa;
  font-family: "Karla";
}

.value, .title {
  fill: steelblue;
  font-family: "Karla";
}

.title {
  font-weight: bold;
}

.axis.x .tick {
  display: none;
}

.axis.x .tick:nth-child(4n+1) {
  display: block;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 3px;
}